<!-- Página principal despues del login -->
<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- CSS -->
</head>
<body>

<div class="container">
    <div class="card">

        <h1>🎓 Bienvenido {{ nombre }}</h1>
        <p>Rol: <strong>{{ rol }}</strong></p>

        {% if rol == 'ADMIN' %}
            <p class="admin">Eres Administrador</p>
        {% elif rol == 'PROFESOR' %}
            <p class="user">Eres Profesor</p>
        {% else %}
            <p class="user">Eres Alumno</p>
        {% endif %}

        <a href="/logout" class="logout">Cerrar sesión</a>

    </div>
</div>

</body>
</html>